main{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    background-image: linear-gradient(to bottom, white, white, rgb(179, 179, 179));    
}

h1{
    margin-top:20px;
    font-size: 1.6rem !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #333;
    margin-bottom: 5px;
}

h2{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333;
    margin-bottom: 10px;
}

form{

   margin-top: 10px;
   width: auto;
   height: auto;
   padding: 40px;
   border: 6px solid rgb(135, 135, 135);
   justify-content: center;
   align-items: center;
   color: #333;
   border-radius: 10px;
   background-color: whitesmoke;
   font-family: 'Roboto', sans-serif;

}

input {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: black;
    width: 99%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    align-items:center;
    vertical-align:middle;
    text-align: left;
}

.error{
    background-color: rgb(252, 159, 159) !important;
    border: 2px solid rgb(133, 45, 45) !important;
}

.valido{
    background-color: rgb(91, 246, 85) !important;
    border: 2px solid rgb(46, 133, 45) !important;
}

#msg-error{
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(133, 45, 45);
}

label {
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    color: #333;

}


#btnCadastro{
    align-items:center;
    text-align: right;
    align-items: center;
    font-size:1rem;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
    background-color: rgb(182, 182, 182);
    padding: 6px;
    margin-top: 10px;
    border-radius: 6px;
    text-decoration: none;
    float: right;
    transition: opacity 10s ease-out; 
}

#btnCadastro:hover{
    align-items:center;
    text-align: right;
    align-items: center;
    font-size:1rem;
    color: rgb(251, 255, 0);
    font-family: 'Roboto', sans-serif;
    border: 2px solid rgb(246, 255, 0);
    background-color: rgb(0, 0, 0);
    padding: 6px;
    margin-top: 10px;
    border-radius: 6px;
    text-decoration: none;
    float: right;
}

.link-active{

    text-decoration: none !important;
    color: rgb(10, 3, 89) !important;
    background-color: rgb(255, 255, 255) !important;
    height: 50px !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    border-top: solid 2px rgb(10, 3, 89) !important;
    border-left: solid 2px rgb(10, 3, 89) !important;
    border-right: solid 2px rgb(10, 3, 89) !important;
    border-radius: 15px 15px 0 0 !important;
    margin-top: 15px !important; 
}

.modal{
   width: 100vw;
   height: 100vh;
   background-image: linear-gradient(to top left, rgb(0, 0, 0), rgb(54, 54, 54), rgb(255, 0, 0)); 
   z-index: 15;
   filter: opacity(97%);
   position: fixed;
}

.submodal{
  padding:30px;  
  width:36%;
  height: auto;
  border: 6px solid rgb(208, 184, 0);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  position: relative;
  top:15%;
  left: 28%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;

}

.submodal-ok{

    font-size:1.2rem;
    color: rgb(91, 0, 0);
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 900;

}

.submodal-link{

    font-size:1.2rem;
    color: rgb(39, 40, 39);
    align-items: center;
    text-align: center;
    align-items: center;
    font-family: sans-serif;

}

.submodal-link a{

    font-size:1.2rem;
    color: white;
    align-items:center;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
    text-decoration: none;

}

.submodal-link a:hover{

    font-size:1.2rem;
    color: yellow;
    align-items:center;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    border: 2px solid yellow;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
    text-decoration: none;

}



@media only screen and (max-width: 700px) {

    main{
        width: 99%;
        
        margin: 2px;
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
        background-image: linear-gradient(to bottom, white, white, rgb(179, 179, 179));    
    }

    form{

        margin-top: 10px;
        width: 65%;
        height: auto;
        padding: 30px;
        border: 6px solid rgb(135, 135, 135);
        justify-content: center;
        align-items: center;
        color: #333;
        border-radius: 10px;
        background-color: whitesmoke;
        font-family: 'Roboto', sans-serif;
     
     }

     h1{
        margin-top:20px;
        font-size: 1.1rem !important;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        color: #333;
        margin-bottom: 5px;
    }
    
    h2{
        font-size: 0.8rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #333;
        margin-bottom: 10px;
    }

    .link-active{

        text-decoration: none !important;
        color: rgb(10, 3, 89) !important;
        background-color: rgb(255, 255, 255) !important;
        height: 41px !important;
        font-weight: bold !important;
        font-size: 0.8rem !important;
        border-top: solid 2px rgb(10, 3, 89) !important;
        border-left: solid 2px rgb(10, 3, 89) !important;
        border-right: solid 2px rgb(10, 3, 89) !important;
        border-radius: 15px 15px 0 0 !important;
        margin-top: 19px !important; 
    }

    .submodal{
        padding:30px;  
        width:65%;
        height: auto;
        border: 6px solid rgb(208, 184, 0);
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        position: relative;
        top:15%;
        left:8%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: white;
      
      }

}